[2018-02-06 20:06] yeekangc opened #2 "Rename runAPP as runApp"
- 'runAPP' should be 'runApp'
- Left over path for sharedKeystore still?  Should be cleanly under resources

[2018-02-06 22:56] JunyiSun commented on #2
@jamiecoleman92 I just realized that the `runApp` folder was reverted back to `runAPP`, and `sharedKeystore/` is accidentally committed back in to the finish folder again in your latest commit (it was renamed to `resources/`), please take a close look, and if possible, can you save your local repo changes to somewhere, and reset the master to commit `31937a194cc7ea912b868e7ef36dfc2addebf877` , and

[2018-02-08 08:32] #2 closed

[2018-02-09 19:12] JunyiSun opened #3 "Clarification of some concepts in this guide"
@jamiecoleman92
1. Please make sure you understand the difference among these terms and use them correctly in the guide.
`JWT` - JSON Web Token, not java web token, (I have fixed all places which previously said java web token, but pay attention to it later on). It refers to the token itself,  it can contain information about anything which you want to propagate. It does not do authentication.

`M

[2018-02-09 22:14] JunyiSun commented on #3
@evelinec @yeekangc  FYI

[2018-02-12 10:27] jamiecoleman92 commented on #3
Licence update done! Just going through the rest of the guide :)

[2018-02-12 13:12] jamiecoleman92 commented on #3
Made my changes, Gkerta is now doing the peer review.

[2018-02-12 14:13] gkertaseferi commented on #3
What you'll learn
1.The great benefit from adding JWT security to your microservices allows you to allow certain groups of users access to
specific functions. -->
to your microservices is that it allows certain groups of users to access specific functions

2.You will add JWT authentication and authorization to the microservices provided: SystemResource and InventoryResource while
we provide you wi

[2018-02-14 10:46] jamiecoleman92 commented on #3
Changes made! Thanks @gkertaseferi

[2018-02-14 18:27] Kubik42 opened #4 "Peer review"
- [x] missing LICENSE file
- [x] the start directory is empty
=> @Kubik42 had made the first try to prepare the start directory, pls try it out and see everything in place
- [x] convert all indentation from 2 tabs to 4
- [ ] `finish/pom.xml` has duplicate dependencies defined in `depedencies` and under `dependencyManagement`. Most importantly, these are test dependencies but they have scopes set t

[2018-02-14 21:01] Kubik42 commented on #4
#5 if it helps

[2018-02-14 21:17] Kubik42 commented on #4
#6 my attempt at creating the missing start directory

[2018-02-14 21:19] yeekangc opened #7 "Feedback for 2/14's Draft"
- Content
  - [x] Better to talk about the frontend first and then flow from there to the backend?  Otherwise, ensure that we provide adequate context and connect the dots clearly between the sections so users can easily understand our approach.
  - [x] Must have SME feedback and we need to describe what we have here in accurate technical terms throughout the guide -- The frontend and backend are

[2018-02-15 13:09] GraceJansen commented on #7
Just some things I noticed during my peer review. But apart from this it looks great 👍

- Are we using SystemResource.java or SystemResource for referring to creating the classes

- Extra line spaces in code for SystemResource.java

- buildJWT() creates a JWT token **which provides** user information -- have changed the grammar here

- getRole() returns the role **of** a user which is either admin

[2018-02-15 14:31] jamiecoleman92 commented on #4
I have made most of the required changes above in my last commit! I have some questions about some of the remaining changes that are required!

[2018-02-15 14:41] #3 closed

[2018-02-15 20:10] yeekangc commented on #7
And, how do I logout if I want to try with a different user to see the difference?  This is a flaw with the current UI.

[2018-02-15 20:35] sishida commented on #7
To me, "JWT Resource" looks like a name, but "JwtResource" looks like something that needs to be set off by a code phrase. If "JWT Resource" is the name, then I'd use that when referring to it in a title and limit "JwtResource" to refer to it when it appears in the actual code.

Unless it's part of code, use "MicroProfile" with a capital "M" and capital "P." It appears this way on the MicroProfile

[2018-02-16 12:06] yeekangc commented on #7
In general, I feel we need to rework the guide to have a clear focus.

IMO, the focus is the how and why of services using mpJwt-1.0 to validate tokens and identify if there are valid users that can access the requested resources.

The main scenario is the use of roles (via `@RolesAllowed`) and MP JWT to do roles-based access control.  The secondary case is the need to validate custom claims in th

[2018-02-16 14:17] jamiecoleman92 commented on #7
So has all the above not been implemented or has some of it already been done?

[2018-02-17 06:54] kinueng opened #9 "Asciidoctor Warnings"
These asciidoctor warnings are being thrown when building openliberty.io.  If you need further debugging, let me know.

[code]

[2018-02-20 15:30] evelinec commented on #7
@jamiecoleman92 You're the owner for the this issue/guide, apart from Junyi.

[2018-02-20 21:39] evelinec commented on #7
@JunyiSun has the next action for this issue. Thanks.

[2018-02-20 21:40] evelinec commented on #4
@JunyiSun can you take a look at the unchecked boxes in this issue as well? Thank you.

[2018-02-22 12:56] JunyiSun commented on #9
Fixed by #10

[2018-02-22 19:46] jamiecoleman92 commented on #9
Please close this issue if it has been fixed!

[2018-02-22 19:47] jamiecoleman92 commented on #7
SME Feedback:

It is a great article!

I have reviewed the article, but I do not have chance to follow the lab yet (I will do it when I get time, and may provide more feedback).
1. Backend: We do not need configure jwtBuilder for back end, and we could just use microProfile-1.2 instead of listing all required features. (We decided against doing this right?)
(See attached file: server.xml)

2. Fron

[2018-02-23 10:03] #9 closed

[2018-02-26 19:11] yeekangc opened #12 "POM files and server configuration cleanup"
- [x] The parent pom.xml contains many out-of-date or inapplicable references that should be removed or cleaned up from repositories, dependencies to properties;

- [x] The same applies to all the other POMs -- Should keep all POM files clean and simple;

  - Remember camel case too;

- [x] Copyright statements need to be accurate or be removed;

- [x] Do we actually need and use jwt.shared.key?

[2018-02-26 19:31] yeekangc commented on #7
I will reiterate my comment above that we need to rework the guide for a better focus.  @JunyiSun @evelinec, please take note.

[2018-02-26 19:35] yeekangc opened #13 "Review messages"
If necessary, review the text what we have in the web pages, response messages as well as System.out with @sishida.

- [x] Comments in code etc should be proper too.  At least, be consistent in style and capitalization and explain why and what clearly.

- [x] For example, https://github.com/OpenLiberty/draft-guide-microprofile-jwt/blob/master/finish/frontendUI/src/main/webapp/error.xhtml can be im

[2018-02-28 20:52] JunyiSun commented on #12
Unsolved issues from the peer review:

- [ ] `finish/pom.xml` has duplicate dependencies defined in `depedencies` and under `dependencyManagement`. Most importantly, these are test dependencies but they have scopes set to "compile". Why do you need test libraries at compile time (these only seem to matter for the `resource` project)? I suspect that this is because your tests are defined under the

[2018-02-28 20:54] JunyiSun commented on #4
I have migrated the two unsolved issues to this specific issue: #12, this general issue can be closed

[2018-03-01 15:51] Kubik42 commented on #4
ok sounds good, thanks @JunyiSun

[2018-03-01 15:51] #4 closed

[2018-03-02 17:12] JunyiSun opened #18 "Better way to pass in the Authorization Header to SecureSystemClient"
Is there a better way to handle the Authorization Header in InventoryResource and SecuredSystemClient? Can we inject the token in the client?

[2018-03-02 17:13] JunyiSun commented on #7
I have opened a new issue for the leftover one #18 . @yeekangc Please review the guide and see if we can close this issue.

[2018-03-02 17:20] JunyiSun commented on #12
@jamiecoleman92 is fixing this issue.

[2018-03-02 20:14] yeekangc opened #19 "Fix copyright statements"
I saw "2018, 2018" in copyright statements for various files.  It should be "2018" only.

[2018-03-02 20:16] yeekangc commented on #7
In terms of what we have in this issue, yes.  Closing.

[2018-03-02 23:15] #19 closed

[2018-03-02 23:15] #7 closed

[2018-03-05 22:17] JunyiSun commented on #13
<img width="1658" alt="screen shot 2018-03-05 at 5 16 17 pm" src="https://user-images.githubusercontent.com/12009928/37002853-0a7945d4-2099-11e8-85da-97c470675512.png">

[2018-03-06 15:47] JunyiSun commented on #12
Since @jamiecoleman92 is on vacation, I will take over this issue.

[2018-03-07 16:12] JunyiSun opened #23 "SME Review from Chunlong"
- [x] draft-guide-microprofile-jwt/finish/backendServices/src/main/java/io/openliberty/guides/inventory/InventoryResource.java
You have a comment "@DeclareRoles({"admin", "user"}) // important to have here, otherwise test will fail ".
Can you verify this again? This issue is supposed to be fixed in 17.0.0.4.

- [x] https://qa-guides.mybluemix.net/guides/microprofile-jwt.html

A. "keyName"
Change
"

[2018-03-07 16:35] sishida commented on #13
Suggested change:

A form login authentication failure occurred.
The user name or password might be incorrect, or the user might not exist.

[2018-03-08 21:34] #13 closed

[2018-03-08 21:35] JunyiSun commented on #23
Fixed by #21

[2018-03-08 21:35] #23 closed

[2018-03-08 22:13] yeekangc commented on #12
The latest in master seems fine.  Closing.

[2018-03-08 22:13] #12 closed

[2018-03-08 22:35] JunyiSun commented on #18
I tried other ways... cannot think of a better approach than the existed one.

[2018-03-08 22:35] #18 closed

[2018-03-09 17:19] yeekangc opened #27 "Confusing instructions"
(1) These are confusing:

_Open the start/backendServices/src/main/java/io/openliberty/guides/system/SystemResource.java file and modify it to match the following code:

In the start/backendServices/src/main/java/io/openliberty/guides/inventory/ directory, open the InventoryResource.java file and add roles-based access control as shown in the following command:

Add the SecureSystemClient class in

[2018-03-09 20:37] JunyiSun commented on #27
(1) and (3) are fixed by #28 , (2) should be fixed through guide-commons

[2018-03-09 20:37] #27 closed

[2018-03-09 21:00] Ahmad-Ayyoub opened #29 "Feedback 3/9"
- [x] long, can be at least 30 min.
Discussed and we average it with Anna's feedback (15-20 min) so change to 25)
- [x] Move the sentence that states you can not access backend service to "Try what you ..." section
 * Extra, my understanding from the little and the first sentences after the title and what you will learn section , is that we will see the resources first and then we will secure them

[2018-03-09 22:03] JunyiSun commented on #29
@Ahmad-Ayyoub
Can you review them again and see if issues are addressed?

[2018-03-09 22:09] #29 closed

[2018-03-28 14:19] yeekangc opened #32 "Fix "only authenticated users with admin and user""
https://twitter.com/OmniFaces/status/978977537022988289

[2018-03-28 15:22] JunyiSun commented on #32
fixed by #33

[2018-03-29 14:36] #32 closed

[2018-04-19 12:44] tevans78 opened #34 "The JWT guide needs some architectural diagrams"
Some high level diagrams are needed to illustrate the architecture of the example services. This probably applies to the other guides as well.

[2018-04-19 12:46] tevans78 opened #35 "The front end UI for the JWT guide needs more features to demonstrate the propagation"
The frontend UI only allows you to log in and log out. Since you can not go directly to the backend urls, the UI needs some more function to demonstrate that things art working properly.

[2018-04-19 13:02] tevans78 opened #36 "The JWT example code has java in the resources module"
The is a test class called JwtVerifier.java in the resources module
[code]
The guide does not make it clear what this class is for. I suspect that it could be moved into the backend module.

[2018-04-19 13:39] tevans78 opened #37 "Occasional JSF issue when going through the JWT guide"
Sometimes there is something bad cached in the browser such that a JSF exception occurs when you try to login to the frontendUI.

The message is (something like) `No such view state found`. Exception was on customer machine but @Emily-Jiang has seen it too.

Switching to a private browser window (i.e. no cache or cookies) solves the problem.

[2018-05-11 18:19] JunyiSun opened #38 "Navigation"
Get rid of "Now, navigate back to the start directory to begin." under "Try what you'll build" section.

Move the sentence with this context "navigate to the start directory" to the section where user starts working with the implementation.

[2018-05-11 18:40] evelinec commented on #35
@JunyiSun to provide guidance for @proubatsis to work on this issue.

[2018-05-14 14:44] #38 closed

[2018-05-15 17:43] proubatsis commented on #35
@evelinec #40
cc @JunyiSun

[2018-05-18 16:11] gcharters opened #42 "Tense seems strange/confusing for pom dependency wording"
When reading this, "The MicroProfile JWT feature, microprofile-jwt-auth-api, is added as a dependency in your start/backendServices/pom.xml file."

It was unclear to me if it had been added or I had to add it.  "is added" seems ambiguous.  Could this be changed to "has already been added".

[2018-05-18 16:14] gcharters opened #43 "Distracting syntax highlighting"
For server.xml features, the feature version strings are highlighted different from the xml element and the rest of the contents.  E.g. the part I show in the ** is a different colour on the site
[code]
Whereas the whole feature name should be highilighted
[code]

This is likely an issue across all the guides.

[2018-05-18 16:47] gcharters opened #44 "A few minor suggestions from reading the guide"
[] "locate public key for JWT signature validation". -> locate **the** public key for JWT signature validation

[] When describing "keyName" in the table, it refers to a "truststore in the SSL configuration" but there is no mention of truststore in the server configuration, only keystore.

[] "MicroProfile JWT maps its token claims".  The taken claims aren't MicroProfile JWT's.  Should this say, "

[2018-05-18 16:49] gcharters opened #45 "Creating SecureSystemClient instructions or code wrong"
Instructions say, "Create the backendServices/src/main/java/io/openliberty/guides/inventory/client/SecureSystemClient.java file with the following code:", but the class/code is already in the start directory.

[2018-05-22 17:56] evelinec commented on #36
@JunyiSun to provide guidance for @proubatsis to work on this issue.

[2018-05-22 17:57] evelinec commented on #37
@JunyiSun to provide guidance for @proubatsis to work on this issue.

[2018-05-22 20:04] proubatsis commented on #36
@JunyiSun @evelinec #46

[2018-05-22 20:26] proubatsis commented on #37
@tevans78 I can't seem to reproduce this issue, can you provide any more details on what steps were taken to make this happen?

[2018-05-23 08:56] tevans78 commented on #37
Unfortunately I have only ever seen this on other people's machines. @Emily-Jiang says she saw the issue too so perhaps she can provide a little more information?

[2018-05-23 13:57] proubatsis commented on #37
I believe that I reproduced the problem, but it says `No saved view state could be found for the view identifier` instead of `No such view state found`. Can you confirm this is the same issue you were experiencing please @tevans78 ?

![image](https://user-images.githubusercontent.com/8409464/40428919-673f3e40-5e6f-11e8-8b4c-0f5a9b073ee5.png)

[2018-05-23 20:38] proubatsis commented on #37
#47

[2018-05-25 15:16] #35 closed

[2018-05-29 13:22] #36 closed

[2018-05-31 20:39] JunyiSun commented on #37
reviewed and merged.

[2018-06-20 13:33] proubatsis opened #54 "Jdk 9/10 fails to build"
The error from `mvn clean install` on travis:

[code]

https://travis-ci.org/OpenLiberty/guide-microprofile-jwt/jobs/394296992

[2018-06-20 14:21] proubatsis commented on #54
**Tested with:**

* Open JDK 9
* Oracle JDK 9
* Open JDK 10
* Oracle JDK 10

[2018-06-20 14:21] proubatsis commented on #54
**Tested with:**

* Open JDK 9
* Oracle JDK 9
* Open JDK 10
* Oracle JDK 10

[2018-06-20 18:08] proubatsis commented on #54
**OL Build:** 18.0.0.1/wlp-1.0.20.cl180120180309-2209

[2018-06-21 15:28] JunyiSun commented on #43
fixed by #48

[2018-06-21 15:28] #43 closed

[2018-06-21 15:29] JunyiSun commented on #45
fixed by #48

[2018-06-21 15:29] #45 closed

[2018-06-21 15:29] JunyiSun commented on #44
fixed by #48

[2018-06-21 15:29] #44 closed

[2018-06-27 13:13] proubatsis commented on #34
![image](https://user-images.githubusercontent.com/8409464/41976142-48b6d8a2-79ea-11e8-9b04-4136f415be44.png)

@JunyiSun @evelinec How does this look?

[2018-06-27 18:51] proubatsis commented on #54
Fixed in #57

[2018-06-27 18:51] #54 closed

[2018-06-28 20:02] evelinec commented on #34
@tevans78 and @lauracowen can you take a look at the diagram above and let us know what you think as an architectural diagram for the JWT guide? Thank you.

[2018-07-19 19:43] evelinec opened #60 "The init issue in the client code"
This issue is currently blocked by https://github.com/OpenLiberty/open-liberty/issues/4112

[2018-07-23 13:11] scottcurtis2605 opened #61 "Clarity on system and inventory services"
Within this guide, the system, and inventory services are not explicitly explained. While these are mentioned in previous guides, such as the 'Configuring Microservices' guide, it still may be worth explaining these two services to avoid ambiguity. For example, a user may follow this tutorial prior to following the previous tutorials.

**From the 'Injecting dependencies into microservices' guide:*

[2018-07-30 16:18] scottcurtis2605 opened #62 "Incorrect Class Reference"
In the '**Securing back end services with MicroProfile JWT**' section, within the subsection '**Adding the SecureSystemClient class'**, the guide reads:

Although, the SystemClient class does not override buildClientBuilder() to add the authorization method - the SecureSystemClient class does this. I have provided the code below to show this, with a comment above the line in question.

From 'Syste

[2018-08-08 16:05] JunyiSun commented on #61
https://github.com/OpenLiberty/guide-microprofile-jwt/pull/63

[2018-08-08 16:09] JunyiSun commented on #62
#63

[2018-08-08 17:01] #62 closed

[2018-08-08 17:01] #61 closed

[2018-08-10 18:53] evelinec commented on #60
@justineechen how is this defect going?

[2018-08-24 15:00] JunyiSun commented on #34
<img width="1027" alt="screen shot 2018-05-25 at 11 04 24 am" src="https://user-images.githubusercontent.com/12009928/44591874-dd02ac00-a78c-11e8-93b9-67a7d369b14d.png">

[2018-08-31 13:40] yeekangc commented on #34
@gkwan-ibm

[2018-09-20 14:09] gkwan-ibm opened #68 "Failed to install"
When ran mvn install, failed

[2018-09-20 14:43] yeekangc commented on #68
Saw this too: [WARNING] CWWKM2179W: The application is not defined in the server configuration but the POM configuration indicates it should be installed in the apps folder. Application configuration is being added to the target server configuration dropins folder by the plug-in.

Probably a separate issue to address.  Not sure if we had this previously.

[2018-09-20 14:53] yeekangc opened #69 "Warnings for dependencyManagement from Maven build"
[WARNING]
[WARNING] Some problems were encountered while building the effective model for io.openliberty.guides:resources:jar:0.0.1-SNAPSHOT
[WARNING] 'dependencyManagement.dependencies.dependency.version' for io.openliberty.features:features-bom:pom is either LATEST or RELEASE (both of them are being deprecated) @ io.openliberty.guides:microprofile-jwt:0.0.1-SNAPSHOT, /Users/ykchang/repositories/

[2018-09-20 14:54] yeekangc commented on #69
Maven is dropping the use of LATEST and RELEASE but there is an issue with it for dependencyManagement: https://issues.apache.org/jira/browse/MNG-4463

We should monitor and update as soon as ready to rid of the warnings.

[2018-09-20 15:05] yeekangc opened #70 "Table does not wrap"
The table used by the frontend in the MP JWT guide to display various information about the user including the JWT doesn't wrap.  Because the value of the JWT is long, it extends beyond the width of the window.

It should wrap at the width of the browser window.

[2018-09-20 15:07] yeekangc commented on #37
Looks like this issue may not have been fully fixed.  Just ran into it.

[2018-09-20 15:08] kinueng commented on #70
@yeekangc Is the problematic table on openliberty.io?  I could not easy tell which table is having issues.

[2018-09-20 15:10] yeekangc commented on #70
@kinueng, not the website but in the sample app used by the guide.

[2018-09-20 15:28] gkwan-ibm commented on #68
Justine will help to test a scenario
- download the guide from mp13 branch
- install with 18002
- download the master
- install with 18003

[2018-09-20 15:59] justineechen commented on #68
Tested scenario described above and I did not receive any failing tests.
I ran the following commands and will run them again now to double check:

- `rm -rf ~/.m2/repository`
- `git clone https://github.com/OpenLiberty/guide-microprofile-jwt.git`

- `git checkout remotes/origin/microProfile-1.3`
- (Checked that `server.xml` had `<feature>mpJwt-1.0</feature>`)
- Changed `<version.liberty>RELEASE</

[2018-09-20 16:11] yeekangc opened #71 "Warning for JCEKS keystore"
[WARNING]
[WARNING] Warning:
[WARNING] The JCEKS keystore uses a proprietary format. It is recommended to migrate to PKCS12 which is an industry standard format using "keytool -importkeystore -srckeystore /Users/ykchang/repositories/guide-microprofile-jwt/finish/resources/src/main/resources/keystore.jceks -destkeystore /Users/ykchang/repositories/guide-microprofile-jwt/finish/resources/src/main/re

[2018-09-20 18:51] gkwan-ibm commented on #68
close this issue
- cannot be reproduced by Justine and I
- the following error is for #37
  - Exception thrown by application class 'javax.faces.webapp.FacesServlet.service:220'

[2018-09-20 18:51] #68 closed

[2018-10-01 20:21] justineechen opened #73 "Unable to access application when starting server from VM"
While testing guides for CASCON on the VMs, I noticed that the application could not be accessed when I started the server from the VM.

[2018-10-17 13:29] evelinec opened #74 "Guide failed with error"
Reported by Michael T. is following open liberty guide for MP-JWT, and got this error:

Exception thrown by application class 'javax.faces.webapp.FacesServlet.service:220'
javax.servlet.ServletException: View "/login.jsf" could not be restored.
at javax.faces.webapp.FacesServlet.service(FacesServlet.java:220)
at [internal classes]
Caused by: javax.faces.application.ViewExpiredException: View "/log

[2018-10-17 14:01] yeekangc commented on #74
May be related to #37?

[2018-10-17 17:35] proubatsis commented on #74
PR Merged.

[2018-10-17 17:35] #74 closed

[2018-10-17 17:35] proubatsis commented on #37
PR Merged.

[2018-10-17 17:51] yeekangc commented on #73
@justineechen, can you please post more technical details?  We will need that to reproduce the issue and investigate further.

[2018-10-24 16:46] lauracowen opened #77 "Quick review comments"
Not a thorough re-review but some things I spotted:

- [x] Typo: "comminication"

- [x] Inconsistent app approach: Why are `SystemResource.java` and `InventoryResource.java` included in the `start` directory when the first thing the user does with them is overwrite their content? According to the style of the rest of the guides, these files should not exist (or should be empty placeholders?)  then

[2018-10-24 18:02] evelinec commented on #77
@justineechen can you fix the typo issue for now? Thanks.

[2018-10-25 15:08] #37 closed

[2018-10-25 15:14] justineechen commented on #73
When I was using the CASCON VM, I tried accessing the application at: http://cascon08.canlab.ibm.com:9090/application.jsf and the browser showed "Cannot connect to Server". `mvn clean install` and `mvn verify` passed, but the application can't be reached this way.

Eveline said that the application works on the remote GUI.

[2018-10-25 17:44] justineechen commented on #73
This issue is with port forwarding and not an issue with the guide itself, so it will be closed.

[2018-10-25 17:44] #73 closed

[2018-11-20 18:09] proubatsis opened #78 "Thread safety"
This guide has the same issue: https://github.com/OpenLiberty/guide-cdi-intro/issues/66

[2018-12-11 14:04] SirCremefresh opened #80 "backendServices test fails"
I just cloned the repo and executed the "mvn clean install liberty:start-server " command in the finish folder

Running it.io.openliberty.guides.jwt.SystemEndpointTest
Dec 11, 2018 3:01:07 PM org.apache.cxf.bus.spring.BusApplicationContext prepareRefresh
INFO: Refreshing org.apache.cxf.bus.spring.BusApplicationContext@1500955a: startup date [Tue Dec 11 15:01:07 CET 2018]; root of context hierarchy

[2018-12-11 14:12] yeekangc commented on #80
Can you please let us know what is the Java SDK or JRE that you are using, @SirCremefresh?

[2018-12-11 14:53] wojtczat opened #81 "Multipane Issue"
# What you'll learn
- [x]  JSON Web Token (JWT) is becoming the most common token format because it follows well-defined and known standards. In regards to what
- [x] "inventory service to retrieve the JVM" inventory isn’t highlighted so to be consistent it should
- [x] “inventory service communicates with" next line too

## Try what you'll build
- [x] "git clone https://github.com/openliberty/gui

[2018-12-11 14:56] SirCremefresh commented on #80
I use the openJDK 8

openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-8u191-b12-0ubuntu0.18.10.1-b12)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)

[2018-12-11 18:02] gkwan-ibm commented on #80
@SirCremefresh The test failures may be caused by running servers. I suggest you to try do following:
- run `mvn liberty:stop-server`
- run `ps -ef | grep java`
- if any processes are still running for the guides, use `kill` command to stop them
- rerun your command `mvn clean install liberty:start-server`
- try the application
- if you do not need the servers anymore, run `mvn liberty:stop-server

[2018-12-13 18:31] gkwan-ibm commented on #80
hi @SirCremefresh, does my suggestion help to resolve your problem?

[2018-12-14 23:32] Rachelwrq commented on #81
### Securing back end services with MicroProfile JWT
- [ ] The mpJwt in second paragraph is referring to the dependency in POM file, but the hotspot is referring to the mpJwt feature in a server.xml file

#### Creating the server configuration file
- [ ] In the action arrow: the instruction should be “Create the server configuration file”
- [ ] Need more file formatting for server.xml.

#### Tryin

[2018-12-17 20:36] Rachelwrq commented on #81
### Securing back end services with MicroProfile JWT
#### Securing the system service
- [ ] the `SystemResource` in the action arrow should be in backticks

[2018-12-18 15:09] andrewdes commented on #81
### Checklist for multipane conversion
**Through the browser:**
- [ ] Read over guide and run through all commands (copy and paste using browser etc..)
- [ ] Test the actual application (use it, hit endpoints, etc.)
- [ ] No files in the middle panel (guide section)
- [ ] Appropriate files are being displayed on the right hand side at the right time
- [ ] Any mention of code in the right panel sho

[2018-12-19 21:46] kathrynkodama opened #83 "Exception thrown when trying to login as user"
Under the "Getting Started" portion of the guide, once the server starts and I try to login in as:
Username: bob
Password: bobpwd

I receive the following exception:

Exception thrown by application class 'javax.faces.webapp.FacesServlet.service:220'
javax.servlet.ServletException: View "/login.jsf" could not be restored.
at javax.faces.webapp.FacesServlet.service(FacesServlet.java:220)
at [intern

[2018-12-19 21:49] yeekangc commented on #83
@proubatsis @gkwan-ibm

[2019-01-30 16:19] progaddict opened #86 "mpJwt-1.1 and mpMetrics-1.1 do not play well together"
### description
There is a service (the backend service in this case) that already uses mpJwt for authentication and authorization. MicroProfile metrics need to be added to this service. The metrics endpoint should be secured by the already existing mpJwt token authorization mechanism. The problem that it is currently not possible to do in open liberty `18.0.0.4` (or maybe possible but it is not t

[2019-01-30 17:04] progaddict commented on #86
## UPDATE
### attempted work around # 3
https://github.com/progaddict/guide-microprofile-jwt/commit/738e9b4d5442f10b604b9144e30607fce2cd5161
I've tried to add the "Administrator" MP-JWT's group first via additional group "mySystemAdmins" and corresponding role-group binding:
[code]
it did not work -- the JWT did not contain "Administrator" in the groups claim.

Then I've hardcoded the "Administrat

[2019-01-31 17:38] justineechen commented on #81
This guide has successfully been converted to multipane and has no blockers.

[2019-01-31 17:38] #81 closed

[2019-01-31 19:30] yeekangc commented on #86
Yes, there can be improvements in this space.  @donbourne @fmhwong @chunlongliang-ibm, can you please chime in?

Using authentication filters is a path forward.  @chunlongliang-ibm, can you share an example?

FYI, @gkwan-ibm.

[2019-01-31 20:51] gkwan-ibm commented on #86
In my understanding, the mpMetric-1.0 feature only support basic authentication mechanism but not form or custom. It should be an enhancement for mpMetric feature.

[2019-01-31 20:59] chunlongliang-ibm commented on #86
The mpMetrics API is packaged to use management security, not to use normal web application security. So the authorization mapping is done outside web application. Here is a sample config:

[code]

[code]

[2019-01-31 21:03] chunlongliang-ibm commented on #86
The "JWT issuer name" is the token issuer name, which is used to identify the issuer, and is a URL starting with https://.

[2019-01-31 21:04] chunlongliang-ibm commented on #86
The token issuer includes the issuer name inside JWT as "iss" claim.

[2019-01-31 21:05] chunlongliang-ibm commented on #86
Let me know if you can not get it working. If you send me a sample JWT, I will create a working authorization mapping for you.

[2019-02-01 11:53] progaddict commented on #86
hi @chunlongliang-ibm
thank you for your help.

yes, sure, I'll try `<group-access-id>` setting and let you know if it works

[2019-02-01 12:17] progaddict commented on #86
hi @chunlongliang-ibm

I can confirm that this approach indeed works:
https://github.com/progaddict/guide-microprofile-jwt/commit/5c3746955bd6366b6a6320340bc2cb9de3d2120a

thanks a lot for your help!
the issue can be closed now.

[2019-02-13 19:09] gkwan-ibm opened #87 "multipane issue"
- [x] following urls not open new tab
  - http://localhost:9090/application.jsf
- [x] shown `[hotspot=Status.FORBIDDEN message, ` at "Testing the application" section

[2019-02-13 19:44] justineechen commented on #87
https://github.com/OpenLiberty/guide-microprofile-jwt/commit/18404ff122c821fd08572daba63a165bda0e27e3

[2019-02-14 18:40] #87 closed

[2019-02-27 01:44] proubatsis opened #88 "JDK 11 Exception"
When using JDK 11, an exception is shown in the table after logging in.

https://github.com/OpenLiberty/guides-common/issues/235#issuecomment-467688900

[2019-02-28 21:54] Rachelwrq opened #89 "Multipane - Post-publish test"
- [x] Check appearance (contents, headings, paragraphs, code snippets, outputs, links, hotspots) of the guide on test site, ie, qa-guides
- [x] Read through the guide
- [x] Clone repo and test finish directory with no error
- [x] Run diff -r start/ finish/
- [x] Follow the instruction in the guide to test that it is working
- [x] Use the copy buttons instead of typing
- [x] Links open in new tab
-

[2019-02-28 21:57] Rachelwrq commented on #89
### Getting Started
#### Try what you'll build
- [ ] The other guides have `cd finish` as part of the role_command before `mvn install`, but this one doesn't

### Building and running the application
- [ ] The link doesn't need to be in backticks

[2019-03-05 19:18] #89 closed

[2019-03-22 19:53] evelinec commented on #88
This problem happens with JDK v11.0.1. v11.0.2 version is good.

[2019-04-03 12:59] nheidloff opened #92 "mvn install liberty:start-server fails: javax.net.ssl.SSLHandshakeException"
Steps to reproduce:
* git clone https://github.com/openliberty/guide-microprofile-jwt.git
* cd guide-microprofile-jwt/finish
* mvn install liberty:start-server

[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 1.631 s <<< FAILURE! - in it.io.openliberty.guides.jwt.JwtTest
[ERROR] testSuite(it.io.openliberty.guides.jwt.JwtTest)  Time elapsed: 1.562 s  <<< ERROR!
javax.ws.rs.P

[2019-04-03 13:07] yeekangc commented on #92
@nheidloff, which Java SDK were you working with?

[2019-04-03 15:01] nheidloff commented on #92
$ java -version
openjdk version "1.8.0_202"
OpenJDK Runtime Environment (build 1.8.0_202-b08)
Eclipse OpenJ9 VM (build openj9-0.12.1, JRE 1.8.0 Mac OS X amd64-64-Bit Compressed References 20190205_147 (JIT enabled, AOT enabled)
OpenJ9   - 90dd8cb40
OMR      - d2f4534b
JCL      - d002501a90 based on jdk8u202-b08)

[2019-04-04 16:44] justineechen commented on #92
Hi @nheidloff, I haven't been able to reproduce your issue running on:
[code]

This might be occurring because you have running servers. Could you try:
- running `mvn liberty:stop-server`
- running `ps -ef | grep java` and `kill` any remaining processes
- rerun `mvn clean install liberty:start-server`

Thank you!
Justine

[2019-04-04 20:55] evelinec opened #93 "Complete test automation coverage for jwt guide"
There's a UI portion to this guide that usually requires manual verification. Would be good to cover in automation test.

[2019-04-10 06:20] nheidloff commented on #92
Thanks @justineechen, there were indeed still some java processes running which 'mvn liberty:stop-server' didn't stop.

Now I see another issue:

[INFO] microprofile-jwt ................................... SUCCESS [ 13.362 s]
[INFO] resources .......................................... SUCCESS [ 14.067 s]
[INFO] backendServices .................................... SUCCESS [ 43.949 s]
[INFO] fronten

[2019-04-10 06:23] nheidloff commented on #92
When I cd into frontendUI and start the server, it works. Thanks

[2019-04-10 06:23] #92 closed

[2019-04-10 11:27] yeekangc commented on #92
Thank you, @nheidloff.

https://github.com/OpenLiberty/guides-common/issues/157 tracks the running server/process issue.  Will see if we can address soon.

[2019-05-24 18:45] #88 closed

[2019-05-30 20:36] MaiHameed commented on #77
See #96

[2019-06-12 18:24] #77 closed

[2019-08-09 17:39] lauracowen opened #102 "JWT guide should use `transportSecurity` feature not `ssl` feature in `server.xml`"
In the MP JWT guide, the `server.xml` uses the `ssl-1.0` feature. But KC says that [`transportSecurity-1.0` supersedes `ssl-1.0`](https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_sec_ssl.html). The [transportSecurity feature doc](https://www.openliberty.io/docs/ref/feature/#transportSecurity-1.0.html) implies that the `ssl` feature is maybe internal rath

[2019-08-09 18:23] yeekangc commented on #102
@gkwan-ibm, can you please take a look and prioritize this to be fixed ASAP?

[2019-08-16 14:40] #102 closed

[2019-09-19 14:19] lauracowen opened #105 "Update MP JWT app to use MP Rest Client"
The MP JWT guide was created before the MP Rest Client feature was released. The MP JWT guide app needs to be updated to use the MP Rest Client for its secure client. Also maybe update the text in the guide to suggest comparing the system client class in the MP JWT guide (secured) with the same class in the MP Rest Client guide (unsecured) so that the reader can see the differences?

Making this c

[2019-09-19 14:25] yeekangc commented on #105
@andymc12 indicated that auto-propagation of headers is now supported for JAX-RS resource.

A MP Config property can be used to tell MP Rest Client to propagate the Auth header.  See https://github.com/eclipse/microprofile-rest-client/blob/master/spec/src/main/asciidoc/integration.asciidoc

[2019-09-19 15:01] lauracowen opened #106 "Update MP JWT guide to use MP Config for validation"
The MP JWT guide currently uses mpjwt-1.0-style config in the `server.xml`:

[code]
Since the MP JWT guide was written, we've release MP Config. It's best practice to externalise properties with MP Config for portability of microservices.

I think the MP JWT guide should demonstrate best practice and be updated to use MP Config properties instead of the `server.xml` config.

Emily (in a related di

[2019-09-19 16:52] yeekangc commented on #106
Tagging @chunlongliang-ibm for his thoughts too.

If these properties may be externally configured or updated before deployment, it makes sense to have them as MP Config properties and we should update.

Won't be dynamic but will be provided or can be fed in from external source.

[2019-09-19 20:06] chunlongliang-ibm commented on #106
It does make sense to update the guide. 1. Now open liberty has openid connect provider feature, so the guide can be updated to request JWT from OP instead of self-issued JWT. 2. The micro service can be configured to consume JWT with either mp-config or server.xml

[2019-09-20 10:20] lauracowen commented on #34
It took me ages to work out how many microservices there are in this app and what each one does. I think it would've helped to have had a diagram (or more than one) showing:

- how many and what microservices are in the app - what are their main purposes? (eg inventory does xxx, system does yyy, frontend provides login and builds JWTs that are used to authorise access to information requested from

[2019-09-20 14:44] lauracowen opened #108 "Review feedback on MP JWT guide"
Some feedback and suggested updates based on recently learning about JWT from this guide and elsewhere and trying to understand what the guide is showing:
- The guide doesn't explain what each microservice does or where the JWTs get built. I've added a note to #34 because a diagram would help but also needs a brief description of the three microservices (see #34 for suggested details).
- Would it

[2019-09-20 14:49] lauracowen opened #109 "MP JWT guide should use defaultKeyStore without overriding keystore type"
In the "Securing backend services" section - the server.xml gives the `defaultKeyStore` value in the `keyStore` config element. However, it then specifies a keystore of type JCEKS:

[code]

Since this guide was written, the default keystore type created by Liberty has been switched to the more industry-wide PKCS12 (not JKS - the previous default - or JCEKS); see https://www.ibm.com/support/knowled

[2019-10-11 08:28] vsmid commented on #108
Hi,

I ve been trying mpJwt feature of OL by just using microprofile-config.properties mp.jwt.verify.publickey and mp.jwt.verify.issuer (omitted mpJwt tag from server.xml). I generated jwt with Adam Bien's jwtenizr and that works great on Payara.
I am using microprofile 3.0 feature with mpJwt 1.1 on OL 19.0.0.9.

However, on OL i keep getting:

CWWKS5523E: The MicroProfile JWT feature cannot authe

[2019-10-11 16:12] vsmid commented on #108
Hi,

just an update,

if i put the whole public key declaration like this it works:

mp.jwt.verify.publickey=-----BEGIN PUBLIC KEY-----MIIB...-----END PUBLIC KEY-----

Maybe this should be fixed or?

[2019-10-11 19:49] chunlongliang-ibm commented on #108
agree we should have a guide for mpJwt-1.1.  The error message you see is misleading, I will investigate it. Could you paste your server.xml, and configured mpConfig for mpJwt-1.1?

mp.jwt.verify.publickey
    Specifies the embedded key material of the public key for the MP-JWT signer in PKCS8 PEM or JWK(S) format. If not found, check the mp.jwt.verify.publickey.location value.
mp.jwt.verify.publi

[2019-10-12 05:19] vsmid commented on #108
**server.xml**

[code]

**microprofile-config.properties**
[code]

When it works it looks like this:

**microprofile-config.properties**
[code]

[2019-10-14 15:51] chunlongliang-ibm commented on #108
The current open-liberty implementation strictly check signature verification key formats as described in spec. However, we would consider to relax the key format requirement.
https://github.com/eclipse/microprofile-jwt-auth/blob/master/spec/src/main/asciidoc/configuration.asciidoc#pcks8

[2019-11-11 17:25] gkwan-ibm commented on #83
It should be caused by after ran the mpMetrics guide. The authentication was cached. Yes, the workaround is to clean up the browser cached. To address the root, need to find out how to clean the cached or log out in the mpMetrics guide.

[2020-05-08 18:33] gkwan-ibm opened #113 "Update MP JWT guide to use new LMP 3.x"
Update the guide to use dev mode
  - need to investigate how to generate the keystore etc.
  - use latest mp
  - use jakartaee
  - ideal pom
  - index.html
  - remove jdk9+ dependencies
    - https://github.com/OpenLiberty/guides-common/issues/459
  - plus all existing issues if possible

[2020-05-20 15:51] gkwan-ibm commented on #69
All guides specified the exact versions in the pom.xml except few guides are pending on dev-mode conversion.

[2020-05-20 15:51] #69 closed

[2020-07-06 15:02] TiagoF99 commented on #70
I see the issue and will take a look at it to address it.

[2020-07-06 16:11] TiagoF99 commented on #70
<img width="1437" alt="Screen Shot 2020-07-06 at 12 09 52 PM" src="https://user-images.githubusercontent.com/45250015/86614872-a3eb1380-bf81-11ea-993f-7d3aff4a9391.png">

- Now the application looks like this. The issue has been fixed. I also made each column width 50% of the screen size so that it is more readable against smaller screen sizes.
- Tested UI on firefox and safari

[2020-07-21 20:01] #70 closed

[2020-07-30 14:43] gkwan-ibm commented on #113
- application was reviewed by GK
- working on the README

[2020-08-14 14:41] gkwan-ibm commented on #113
- design review meeting will be on next Tue

[2020-08-18 14:26] lauracowen opened #119 "Doc links for JWT guide"
On the draft docs site (make sure it’s showing the ‘latest’ version) there’s a Security section in the docs which contains, among other topics:
- https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/authentication.html - contains a diagram that might be a useful basis for your app diagram?
- https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/single-sign-on.html - introduces SSO methods, in

[2020-08-19 13:16] griffinhadfield commented on #113
Proposed outline has been reviewed and approved by SME and stakeholders.

The changes include the following:
 - Removing inventory service
    - Have the frontend directly interact with the system service
- Adding more focus on the frontend
    - How the JWT is built
    - How the JWT is added to the header of the request

The proposed changes to the flow of the guide will take the following form:

[2020-08-25 15:08] gkwan-ibm commented on #113
- prototyped the app
- drafting the README

[2020-08-31 14:34] gkwan-ibm commented on #113
- ready for dev content review

[2020-09-01 15:59] gkwan-ibm opened #122 "Dev content review for the no-inventory branch"
- **Try what you’ll build**
  - [x] Usually this section is a subsection under **Getting started** section
  - [x] "In a new tab of your command-line session, navigate ..." -> "Open another command-line session and navigate..."
  - [x] add following after `mvn liberty-run` (see the jaeger guide)
    - After you see the following message in both command-line sessions, both of your services are read

[2020-09-02 14:35] gkwan-ibm commented on #113
- addressing dev content review

[2020-09-08 15:37] griffinhadfield commented on #122
For `make sure to address #119`, I am waiting until the documentation is published before I add it to the README.

[2020-09-14 15:04] gkwan-ibm commented on #113
- ready for the dev content review

[2020-09-14 21:38] gkwan-ibm opened #126 "Dev content review for the manual-jwt-build branch"
- **What you’ll learn**
  - [x] "...to validate security tokens in the `system` and inventory microservices." -> "...to validate security tokens in the system microservice."
    - tokens or token?
  - [ ] in the diagram, is it better to switch the arrow direction for the Retrieve JWT?
  - [x] backtick `frontend` in the whole content if "service" follows it, i.e. `frontend` service
    - it is beca

[2020-09-15 14:36] gkwan-ibm commented on #113
- addressing the dev content review feedback

[2020-09-15 17:39] griffinhadfield commented on #126
Regarding

I think it may be best to keep the arrow as it is. The general pattern in this diagram is that the arrow comes from the entity making the action/request , and the arrow points to the entity fulfilling the action/request. If the arrow were to point from the http session to the application bean, I think it may look like the http session is getting the JWT from the application bean, which

[2020-09-15 19:03] gkwan-ibm commented on #126
I feel from session to app bean make more sense, we can use different color.

[2020-09-15 21:27] gkwan-ibm commented on #126
- **JSON Web Tokens for authorization and authentication**
  - [ ] "In this case, we will be using JWTs..." no first personal words, e.g. our, we, I, etc...
- **Creating secure system service**
  - [ ] "... at the `/jwtRoles` endpoint. " `/jwtRoles` does not match the code `@Path("/jwtroles")`
- **Creating a client to access the secure system service**
  - [ ] "Create a RESTful client interface fo

[2020-09-17 14:35] gkwan-ibm commented on #113
- addressed the dev content review
- finding a better test solution by using vertx

[2020-09-21 20:38] AustinSeto opened #127 "Peer review for vertx-jwt-build branch (Linux)"
Functionality
---
- [x] Check that the guide has working instructions and sample code
- [ ] If any URL visits, try them on different browsers: Firefox, Chrome, Safari
- [x] If any URL visits, try `curl` command where applicable

Formatting & Presentation
---

`README.adoc` checks:
- [x] Ensure that command substitutions use the `$(cmd)` format and not ``` `cmd` ```
- [ ] Ensure that the console ou

[2020-09-21 21:02] AustinSeto commented on #127
# Getting Started

- [ ] I think when asking the user to start the application in the "try what you'll build" section, the code blocks should include the `cd` commands. For example:
[code]

[2020-09-21 21:04] AustinSeto commented on #127
# Code

- [ ] Get following warning in frontend, see this PR and associated issue on another guide https://github.com/OpenLiberty/guide-rest-client-reactjs/pull/29
[code]

[2020-09-21 22:10] meswan opened #128 "Peer review for vertx-jwt-build branch (Win)"
Functionality
---
- [x] Check that the guide has working instructions and sample code
- [x] If any URL visits, try them on different browsers: Firefox, Chrome, Safari
- [ ] If any URL visits, try `curl` command where applicable

Formatting & Presentation
---

`README.adoc` checks:
- [ ] Ensure that command substitutions use the `$(cmd)` format and not ``` `cmd` ```
- [ ] Ensure that the console ou

[2020-09-22 15:02] gkwan-ibm commented on #113
- peer review
  - Win (Meswan) - in progress
  - Linux (Austin) - in progress

[2020-09-22 20:14] griffinhadfield commented on #127
I think in this case they are just dots not periods. I think periods are just for ending sentences, but for web related things people just say dot, ie "dot com"

I believe Gilbert wanted me to follow the format in `guide-microprofile-opentracing-jaeger` which doesn't include it in the command. I will double check with him.

In Gilbert's feedback he just said to make sure to mention that the error

[2020-09-22 22:52] meswan commented on #128
Frontend, if these are expected, then we should add a note clarifying that:

[code]

[code]
[code]

system warning:
[code]

**Testing the application**
`trigger a failure if a change introduces a defect.` consider rewording to `trigger a failure if a breaking change is introduced.`

Check if test section can be simplified by already included the java file instead of asking user to create so that i

[2020-09-23 17:03] gkwan-ibm commented on #128
`[INFO] Failed to find runtime version` is OL 20.0.0.9 issue. It should be fixed by 20.0.0.10

[2020-09-24 17:11] gkwan-ibm commented on #128
warnings issue will be addressed by https://github.com/OpenLiberty/open-liberty/issues/14154

[2020-09-24 19:52] griffinhadfield commented on #128
The following warning has been fixed:

[code]

[2020-09-25 15:04] gkwan-ibm commented on #113
- ask SME review after end-to-end test

[2020-09-28 15:42] AustinSeto commented on #127
Reviewed changes pushed to branch, all critique addressed, closing issue

[2020-09-28 15:42] #127 closed

[2020-09-29 15:30] #128 closed

[2020-09-30 14:36] gkwan-ibm commented on #113
- SME in progress

[2020-10-07 14:34] gkwan-ibm commented on #113
- addressed SME reviewed
- next user review

[2020-10-07 20:03] #122 closed

[2020-10-07 20:04] #126 closed

[2020-10-07 20:05] gkwan-ibm commented on #113
- user review completed
- final content and ID review in progress

[2020-10-20 20:06] Charlotte-Holt opened #135 "Content review feedback"
Looking good! Review comments from myself and @lauracowen:

## What you'll learn
- Are we not using an `inventory` service in this guide? I'm assuming that's to simplify it?

## JSON Web Tokens for authentication and authorization
- I don't think we should have this section in the guide. Maybe include the information from the first paragraph of this section after the first paragraph of the **What

[2020-10-27 10:57] griffinhadfield commented on #135
Feedback has been addressed in the this PR: https://github.com/OpenLiberty/guide-microprofile-jwt/pull/136

[2020-11-13 16:34] gkwan-ibm commented on #113
- final content and ID review completed

[2020-11-13 16:42] gkwan-ibm commented on #113
- final end-to-end test completed
- ready to sign-off

[2020-11-23 16:58] yeekangc commented on #113
@griffinhadfield, can you update and close all relevant issues that have been addressed and merged?

[2020-11-23 17:27] #135 closed

[2020-11-23 17:31] griffinhadfield commented on #119
The SSO documentation has been added to the guide.

[2020-11-23 17:31] #119 closed

[2020-11-23 17:37] griffinhadfield commented on #109
This issue has been addressed as part of the guide's rewrite which can be seen on the `vertex-jwt-branch`

[2020-11-23 17:37] #109 closed

[2020-11-23 17:37] griffinhadfield commented on #108
This issue has been addressed as part of the guide's rewrite which can be seen on the `vertex-jwt-branch`

[2020-11-23 17:37] #108 closed

[2020-11-23 17:39] griffinhadfield commented on #106
This issue has been addressed as part of the guide's rewrite which can be seen on the `vertex-jwt-branch`

[2020-11-23 17:39] #106 closed

[2020-11-23 17:39] griffinhadfield commented on #105
This issue has been addressed as part of the guide's rewrite which can be seen on the `vertex-jwt-branch`

[2020-11-23 17:41] #105 closed

[2020-11-23 17:42] griffinhadfield commented on #71
This issue has been addressed as part of the guide's rewrite which can be seen on the `vertex-jwt-build` branch.

[2020-11-23 17:42] #71 closed

[2020-11-23 17:43] griffinhadfield commented on #34
This issue has been addressed as part of the guide's rewrite which can be seen on the `vertex-jwt-build` branch.

[2020-11-23 17:43] #34 closed

[2020-11-23 17:44] griffinhadfield commented on #113
The following issues in this repo have been addressed and subsequently closed as part of this rewrite:

https://github.com/OpenLiberty/guide-microprofile-jwt/issues/119
https://github.com/OpenLiberty/guide-microprofile-jwt/issues/109
https://github.com/OpenLiberty/guide-microprofile-jwt/issues/108
https://github.com/OpenLiberty/guide-microprofile-jwt/issues/106
https://github.com/OpenLiberty/guide

[2020-11-23 21:29] yeekangc commented on #113
We should clean up unneeded branches at the end of this exercise too.

[2020-11-23 22:00] yeekangc commented on #113
I noticed 3 hotspots that aren't typical use of hotspots.  Can we change them?

[2020-11-24 15:08] griffinhadfield commented on #113
@yeekangc would it be a viable solution be to hotspot `request` in each of those sentences instead? The hotspot would be highlighting the following line of code:

[2020-11-24 15:58] yeekangc commented on #113
May be 'makeRequest' request.  For example, "the first 'makeRequest' request ..."

[2020-11-24 16:29] yeekangc commented on #113
Also, we should exclude .vscode, right?

[2020-11-24 16:39] griffinhadfield commented on #113
@yeekangc I have updated the previously mentioned hotspots. These paragraph is now as follows:

<img width="775" alt="image" src="https://user-images.githubusercontent.com/38739044/100124202-59433880-2e49-11eb-9298-60e7790f35f8.png">

I avoided saying "`makeRequest()` request" and instead used "`makeRequest()` call" because the use of the word "request" started to sound repetitive.

[2020-11-24 17:21] yeekangc commented on #113
We can probably make 'no JWT' normal text.  LGTM.

I pushed some changes: https://github.com/OpenLiberty/guide-microprofile-jwt/commit/6c99036cd21d7423c1532e80ce5d44120b2c6a57

Good with the changes otherwise.  Thank you!

[2020-11-25 12:12] Emily-Jiang opened #140 "Update to use MP JWT 1.2"

[2020-12-03 15:47] gkwan-ibm commented on #113
close
- the update was published

[2020-12-03 15:47] #113 closed

[2020-12-03 15:52] gkwan-ibm commented on #60
close
-  the application of the JWT guide was refactored. It uses the same keystore file for the frontend and system services.

[2020-12-03 15:52] #60 closed

[2021-01-12 21:36] gkwan-ibm commented on #140
hi @teddyjtorres
Beside update the pom.xml and server.xml to use the latest version, would you tell us what new thing we may add into [the existing guide](https://openliberty.io/guides/microprofile-jwt.html) for mpJwt-1.2?

[2021-06-01 19:52] gkwan-ibm commented on #140
close
- the [guide](https://openliberty.io/guides/microprofile-jwt.html) was updated

[2021-06-01 19:52] #140 closed

[2021-08-17 13:03] dakr0013 opened #174 "NullPointerException if used with mpMetrics 3.0"
If i use `<feature>microProfile-4.0</feature>` it includes mpMetrics 3.0. This causes a NullPointerException after i call a secured endpoint without any jwt. This results in a status code 500 instead of 401. If i supply a valid jwt everything is ok.

Reproduction:
1. Add `<feature>microProfile-4.0</feature>` in server.xml
2. Startup system-service with `mvn liberty:dev`
3. Acces this url without a